<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/folljq.js" %}"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.js"></script>
<script type="text/javascript">
  var pageuser = "{{ request.user.username }}";
</script>

</head>
<body>

   <a href="/main/"><div class="title"><h3>Follow Me</h3></div></a>
   <div class="lgout"><span>
      <form action="logout/">
      <button id="sublogout" class="btn btn-info" type="submit">Logout</button>
      </form></span>
  </div>
   <br>
   <div class="workarea">
   <div class="container">
      <div class="row" >
         <div class="col-md-4 rcornersleft">
          <div class="container">
            <div class ="row">
             <img class="img" src="{% static "img/Batman.png" %}"> 
            </div>
            <br>
            </div>
            <a id="mainnm" class="al" href="#"></a>
            <div class ="row">
             <a class="tweetlist" href="#"><div class="col-md-4"><center>Tweets</center></div></a>
            <a class="finglist"><div class="col-md-4"><center>Following</center></div></a>
            <a class="ferslist"><div class="col-md-4"><center>Followers</center></div></a>
            </div>
            <div class ="row">
            <a class="tweetlist" href="#"><div class="col-md-4" id ="count" align="center"></div></a>
            <a class="finglist"><div class="col-md-4" id ="ficnt" align="center">0</div></a>
            <a class="ferslist"><div class="col-md-4" id ="fecnt" align="center">0</div></a>
            </div>
            <br>
          
         </div>
         <div class="col-md-8">

         <div class="flist"> 
         </div>

         <br>  
  			<br>
        </div>
      </div><!-- end nested row -->
   </div> 
   </div>

</body>
</html>
